<div class="position-relative">
  <back-navigation-arrow [url]="'/'"></back-navigation-arrow>
  <div class="container mt-4">
    <app-small-search-field [placeholder]="'Search by @nickname or description...'"></app-small-search-field>
    <div class="row justify-content-center mt-3">
      <div class="col d-flex justify-content-center align-content-center"
          *ngFor="let art of galleryItems">
       <div class="card m-2"
            style="width: 18rem">
         <art-modal [item]="art"
                    [previewSize]="{width: 17.9, height: 299}"
                    [isArt]="true"></art-modal>
         <div class="card-body">
           <a class="card-text pointer no-decorations-text author-link-hover"
              href="{{art.authorLink}}">
              {{art.author}}
           </a>
         </div>
       </div>
     </div>
   </div>
  </div>
</div>
