<div>
  <div class="row">
    <h5 class="text-center main-font">
      Latest upload works:
    </h5>

    <div *ngFor="let img of images"
         class="col-3 image-container px-2 my-3 d-flex justify-content-around align-items-center"
         ngbTooltip="let's imagine we have some text here"
         placement="top"
    >
      <img src="../../../../../assets/images/gallery-sample-{{img}}.png"
           class="rounded img-fluid d-block">
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button
      class="no-decorations-btn pointer"
      type="button"
    >
      <h5
        class="main-hover main-font"
        [routerLink]="'/gallery'"
      >
        See the full gallery
      </h5>
    </button>
  </div>
</div>
