input {
  border: 1px solid #dee2e6 !important;
}

textarea {
  width: 100%;
  height: 150px;
  resize: none;
  border: 1px solid #dee2e6
}

.submit-btn {
  border: 1px solid #dee2e6 !important;
  width: 300px;
}
